/* Layout */

/*
 Colors.blue = 0x5079c2;
 Colors.red = 0xc25079;
 Colors.green = 0x79c250;
 Colors.white = 0xdedede;
 Colors.sprueGrey = 0x666666;
 Colors.greenstuff = 0x0da624;
 */

html {
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

body {
	/*   min-height: 100%;
	 min-width: 100%; */
	/*   border: 1px solid red; */
	display: flex;
	flex-flow: column;
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
}

.paper {
	border: 10px solid #FFFFFF;
	box-shadow: 0px 0px 10px #454545;
}

button.round {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #FFFFFF;
	border: none;
	transition: all 100ms linear;
	box-shadow: 0px 0px 10px #454545, inset 0px 0px 0px 25px rgba(69,69,69,0.25);
}

button.round:disabled, button.round:disabled:hover, button.round:disabled:hover:active{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #FFFFFF;
	border: none;
	box-shadow: 0px 0px 10px #454545, inset 0px 0px 0px 25px rgba(69,69,69,0.5);
}

button.round:disabled * {
	color: #AAA;
}

button.round:hover:active {
	/*transition: all 150ms linear;*/
	box-shadow: inset 0px 0px 0px 25px rgba(255,255,255,0.25);
}

button.round:hover {
	border: 1px solid #454545;
	box-shadow: 0px 0px 3px #454545;
}

.red {
	color: #FFFFFF !important;
	background: #C25079 !important;
}

.green {
	color: #FFFFFF !important;
	background: #79C250 !important;
}

.blue {
	color: #FFFFFF !important;
	background: #5079C2 !important;
}

#header, #footer {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	width: 100%;
	position: absolute;
	z-index: 100;
	/*background-color: white;*/
	/*opacity: 0;*/
	pointer-events: none;
	/*filter:Alpha(opacity=0);*/
}

#header {
	top: 0px;
	margin-top: 15px;
	height: 50px;
}

#toolbar {
	right: 350px;
	padding-top: 50px;
	padding-bottom: 50px;
	position: absolute;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	pointer-events: auto;
}

#footer {
	bottom: 0px;
	height: 50px;
	z-index: 100;
}

#main {
	display: flex;
	flex: 1 1 100%;
	flex-flow: row
	/*flex-flow: column;*/
}

#content {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: flex;
	flex-flow: row;
}

#main-view {
	box-sizing: border-box;
	margin: 5px;
	flex: 4;
}

#side-board {
	/*width: 290px;*/
	flex: 0 0 300px;
	flex-flow: column;
	display: flex;
	justify-content: flex-start;
	margin: 5px;
}

#part-view {
	/*width: 290px;*/
	/*height: 290px;*/
	flex: 0 0 300px;
	display: flex;
	box-sizing: border-box;
	/*border-radius: 5px;*/
}

#search-panel {
	margin-top: 5px;
	display: flex;
	height: 100%;
	flex-flow: column;
	justify-content: flex-start;
	flex: 1 0;
}

#search-results {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	flex: 1 1;
	/*overflow-y: scroll;*/
}

#search-results  ol {
	list-style-type: none;
	/*display: flex;*/
	flex-flow: column;
	justify-content: flex-start;
	flex: 1 1;
	box-sizing: border-box;
	/*border: 3px solid #FFFFFF;*/
	box-shadow: 0px 0px 10px #454545;
	/*margin: 1px 10px 1px 10px;*/
	padding: 0px;
	overflow-y: auto;
}

#search-results > ol > li {
	/*padding: 10px;*/
	/*display: flex;*/
	box-sizing: border-box;
	width: 100%;
	border-bottom: 1px solid #454545;
	padding: 10px;
	margin: 0px;
}

#search-results > ol > li:first-child {
}

#search-results > ol > li:last-child {
	bottom-border: none;
}

#main-view.paper > canvas {
	width: 100%;
	height: 100%;
	/*border-radius: 5px;*/
}

#part-view.paper > canvas {
	width: 100%;
	height: 100%;
}

/* Styling */

body {
	font-family: 'Open Sans', sans-serif;
}

.wendy {
	font-family: 'Wendy One', sans-serif;
}

.logo {
	align-self: flex-start;
	font-family: 'Wendy One', sans-serif;
	font-size: 400%;
	padding-left: 15px;
	padding-right: 15px;
}

/*
 #header,#footer,#main,#content,#left,#right{
 border: 1px solid #aa7777;
 }
 */

#header {
	flex-flow: row;
	justify-content: space-between;
}

#footer {
	justify-content: center;
	align-items: center;
}

label::after {
	content: ": "
}

#content > canvas {
	background-image: linear-gradient(#f7f7f7,#bbb);
}

#search-panel > input[type='search'] {
	display: flex;
	flex: 0, 0;
	width: 100%;
	margin-bottom: 5px;
}

input, select, radio, textarea, button {
	font-family: "Open Sans", sans-serif;
	font-size: 100%;
	border-radius: 3px;
	border: 1px solid #454545
}

button {
	background-image: linear-gradient(#f7f7f7,#bbb);
}
